/* src/App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh; /* Make the app take up at least the full viewport height */
}

main {
  flex: 1; /* Allows the main content area to grow and push the footer down */
}

header {
  background-color: #000000; /* Change this to your preferred header color */
  color: rgb(0, 0, 0); /* Header text color */
  padding: 1rem; /* Padding for the header */
  text-align: center; /* Center the header text */
}

nav ul {
  list-style-type: none; /* Remove bullet points from list */
  padding: 0; /* Remove padding */
}

nav ul li {
  display: inline; /* Display list items inline */
  margin: 0 1rem; /* Add margin between list items */
}

footer {
  background-color: #94b064; /* Footer background color */
  color: white; /* Footer text color */
  text-align: center; /* Center the footer text */
  padding: 1rem; /* Padding for the footer */
  margin-top: auto; /* Pushes footer to the bottom */
}
